@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GrandHotel";
  src: url("../assets/fonts/GrandHotel-Regular.ttf");
}
@font-face {
  font-family: "BalletRegular";
  src: url("../assets/fonts/Ballet-Regular-VariableFont_opsz.ttf");
}
@font-face {
  font-family: "DeliciousHandrawn";
  src: url("../assets/fonts/DeliciousHandrawn-Regular.ttf");
}
@font-face {
  font-family: "EduRegular";
  src: url("../assets/fonts/EduVICWANTBeginner-Regular.ttf");
}
@font-face {
  font-family: "NeonderthawRegular";
  src: url("../assets/fonts/Neonderthaw-Regular.ttf");
}

html {
  @apply scroll-smooth overflow-hidden;
  cursor: url("/loading-circle.svg"), auto !important;
}
html,
body {
  @apply h-full w-full overflow-x-hidden;
}
* {
  @apply box-border m-0 p-0;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  display: none !important;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reveals {
  @apply transition-all duration-700 ease-in-out;
}

.aos-animate {
  @apply translate-x-0 sm:translate-x-0 md:translate-x-0 lg:translate-x-0 xl:translate-x-0 2xl:translate-x-0 translate-y-0 sm:translate-y-0 md:translate-y-0 lg:translate-y-0 xl:translate-y-0 2xl:translate-y-0 rotate-0 opacity-100;
}
